:root {
  --main-color: #434455;
  --item-color: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
}

.menu {
  list-style: none;
  padding: 0;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team > .team {
  color: var(--item-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.address > {
  font-style: normal;
}

.contact > .item {
  font-style: normal;
  line-height: 1.5;
}

.menu > .item {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--item-color);
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
}

.logo > .studio {
  color: var(--item-color);
}

.footer > .logo > .studio {
  color: #f4f4fd;
}

.our-service {
  height: 600px;
  top: 72px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.our-service > .title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 525px;
}

.order-service {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  height: 56px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}

.features {
  width: 264px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 8px;
  opacity: 0px;
  list-style: none;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--item-color);
}

.feature-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  height: 312px;
  top: 2280px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer > .logo .studio {
  color: #f4f4fd;
}

.footer > .marketing {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  width: 264px;
}

.footer > * {
  margin-left: 156px;
  gap: 0px;
  opacity: 0px;
}

h2 {
  text-align: center;
}
